@model ShoppingCartViewModel

<div class="container">

    <div class="row">
        <div class="col-md-1">
            <i class="fa-solid fa-cart-shopping fa-2x"></i>
        </div>
        <div class="col-md-11">
            <h4>Carrinho de Compras</h4>
        </div>
    </div>

    <table class="table ">
        <thead>
            <tr>
                <th>Quantidade</th>
                <th>Lanche</th>
                <th class="text-right">Preço</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach(var game in Model.ShoppingCart.Items)
            {
                <tr>
                    <td>@game.Quantity</td>
                    <td>@game.Game?.Name</td>
                    <td>@game.Game?.Price.ToString("c")</td>
                    <td>@((game.Quantity * game.Game.Price).ToString("c"))</td>
                    <td class="text-center">
                        <a asp-controller="ShoppingCart" asp-action="RemoveItemToCart"
                         asp-route-gameId="@game.Game.GameId">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total</td>
                <td>@Model.ShoppingCartTotal.ToString("c")</td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group">
            <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Concluir Pedido</a>
            &nbsp;&nbsp;&nbsp;

            <a class="btn btn-primary" asp-controller="Game" asp-action="List">Continuar Comprando</a>

        </div>
    </div>
</div>